* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: effra, sans-serif;
  display: border-box;
  width: 100vw;
  -webkit-text-size-adjust: auto;
  transition: 0.3s ease all;
}

body.dark {
  background: #131313;
}

/*--------------  Sobreescribo los estilos del alert de Sweet Alert ------------*/
.swal2-popup {
  background: #f7f7f7;
}

body.dark .swal2-popup {
  background-color: #a4a3a3;
}

.swal2-popup .swal2-title {
  font-family: effra, sans-serif;
  font-weight: 400;
  color: #060606;
}

body.dark .swal2-popup .swal2-title {
  color: #f7f7f7;
}

.swal2-popup #swal2-html-container {
  font-family: effra, sans-serif;
  font-weight: 100;
  color: #060606;
  font-size: 16pt;
}

body.dark .swal2-popup #swal2-html-container {
  color: #f7f7f7;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #ecc742;
}

.btnDescuento, .btnDescuento:link, .btnDescuento:visited {
  background-color: #ecc742;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  width: 8rem;
  font-weight: 100;
  font-size: 12pt;
  border: 0px;
}

body.dark .btnDescuento {
  background-color: #060606;
  color: #f7f7f7;
}

.btnDescuento:link {
  background-color: #ecc742;
}

body.dark .btnDescuento:link {
  color: #f7f7f7;
}

.btnDescuento:visited {
  background-color: #9a7b28;
  color: #f7f7f7;
}

.btnDescuento:hover {
  background-color: #060606;
  color: #ecc742;
}

body.dark .btnDescuento:hover {
  background-color: #ecc742;
  color: #f7f7f7;
}

/*Home Page*/
/*Contenedor principal*/
.masterContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 35rem 35rem 35rem 10rem max-content;
  grid-template-areas: "nav nav" "bienvenida bienvenida" "resaltador01 resaltador01" "resaltador02 resaltador02" "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainer {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainer .masterContainer {
    grid-template-areas: "nav" "bienvenida" "resaltador01" "resaltador02" "barraContacto" "footer";
  }
}

#NavbarB {
  grid-area: nav;
  background-color: #f7f7f7;
  margin: 0;
}

body.dark #NavbarB {
  background-color: #060606;
}

#NavbarB .navbar-toggler {
  border: transparent;
}

#NavbarB .navbar-toggler .navbar-toggler-icon {
  background-image: url(../media/hamburger-icon_02.svg);
  width: 1.8em;
  height: 1.8em;
}

body.dark #navBarItem {
  color: white;
}

.switch {
  width: 4rem;
  height: 1.9rem;
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #d7d7d7;
  top: 0px;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.6s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #ecc742;
  color: #ecc742;
}

.switch.active::after {
  right: 0;
  left: unset;
}

/* Mensaje de bienvenida */
.containerInterno01 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: bienvenida;
}

@media all and (max-width: 955px) {
  .containerInterno01 {
    grid-template-columns: none;
  }
}

.containerInterno01 .cta, .containerInterno01 .cta:link, .containerInterno01 .cta:visited {
  background-color: #ecc742;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 12rem;
  font-weight: 100;
}

.containerInterno01 .cta:link {
  background-color: #ecc742;
}

.containerInterno01 .cta:visited {
  background-color: #9a7b28;
}

.containerInterno01 .cta:hover {
  background-color: #f7f7f7;
  color: #ecc742;
  border: 1px solid #ecc042;
}

.containerInterno01 .videoContenedor {
  justify-self: center;
}

.containerInterno01 .videoContenedor .videoBienvenida {
  max-width: 500px;
}

@media all and (max-width: 600px) {
  .containerInterno01 .videoContenedor .videoBienvenida {
    width: 20rem;
    justify-self: center;
  }
}

/* Resaltador de la marca 01 */
.containerInterno02 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: resaltador01;
}

@media all and (max-width: 955px) {
  .containerInterno02 {
    grid-template-columns: none;
  }
}

/* Resaltador de la marca 02 */
.containerInterno03 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: resaltador02;
}

@media all and (max-width: 955px) {
  .containerInterno03 {
    grid-template-columns: none;
  }
}

/* Footer */
.barraContactoConteiner {
  display: grid;
  grid-area: barraContacto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(90deg, #e9dcb4 0%, #ecc042 48%, #eed078 100%);
  width: 100vw;
}

.barraContactoConteiner .logoBarraContactoContenedor {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-self: baseline;
  margin-right: 20px;
}

.barraContactoConteiner .logoBarraContactoContenedor .logoBarraContacto {
  width: 7rem;
}

.barraContactoConteiner .textoBarraContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.barraContactoConteiner .cta02, .barraContactoConteiner .cta02:link, .barraContactoConteiner .cta02:visited, .barraContactoConteiner .cta02:hover {
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  color: white !important;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

.barraContactoConteiner .cta02:hover {
  color: #060606 !important;
  background-color: #f7f7f7;
}

.footerContainer, .footerContainerContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-area: footer;
  background-color: #060606;
  color: #f7f7f7;
}

.footerContainer .socialMediaEnlaces, .footerContainerContacto .socialMediaEnlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: none;
  max-width: max-content;
  margin: 20px 0px 0px 0px;
}

.footerContainer .socialMediaEnlaces a.redsocial, .footerContainerContacto .socialMediaEnlaces a.redsocial {
  color: #f7f7f7 !important;
  text-decoration: underline;
  padding: 0px 18px;
  font-weight: 100;
}

.footerContainer .socialMediaEnlaces a.redsocial:visited, .footerContainerContacto .socialMediaEnlaces a.redsocial:visited {
  color: #bdbdbd !important;
}

.footerContainer .socialMediaEnlaces a.redsocial:hover, .footerContainerContacto .socialMediaEnlaces a.redsocial:hover {
  color: #ecc042 !important;
}

.footerContainer .conclusion, .footerContainerContacto .conclusion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

@media all and (max-width: 600px) {
  .footerContainer .conclusion, .footerContainerContacto .conclusion {
    margin: 20px 40px;
  }
}

.footerContainer .conclusion .mexico, .footerContainerContacto .conclusion .mexico {
  color: #f7f7f7 !important;
  font-weight: 100;
  font-size: 16pt;
}

.footerContainer .conclusion .parrafo03, .footerContainerContacto .conclusion .parrafo03 {
  color: #f7f7f7 !important;
}

/* ------------ Pagina: Nuestro trabajo ----------------*/
.masterContainerNuestroTrabajo {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 35rem 10rem 10rem 65em 12rem 14rem;
  grid-template-areas: "nav" "titulosTrabajos" "botones" "infoServicios" "listaVideos" "barraContacto" "footer";
  align-content: inherit;
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerNuestroTrabajo {
    grid-template-rows: 7rem 35rem 10rem 10rem 78em 12rem 14rem;
    grid-template-areas: "nav" "titulosTrabajos" "botones" "infoServicios" "listaVideos" "barraContacto" "footer";
  }
}

.containerInterno04 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: titulosTrabajos;
}

@media all and (max-width: 955px) {
  .containerInterno04 {
    grid-template-columns: none;
  }
}

.masterBoxBotones {
  grid-area: botones;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.masterBoxBotones .filterBoxContainer a {
  margin: 0.5rem;
}

body.dark .masterBoxBotones .filterBoxContainer a {
  color: white;
}

.masterBoxBotones .filterBoxContainer a:hover {
  background-color: black;
  color: white;
}

.botonContacto {
  background-color: #ecc042;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  font-weight: 100;
  align-self: center;
}

.botonContacto:visited {
  background-color: #ecbf42d7;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  font-weight: 100;
}

.botonContacto:hover {
  background-color: #060606;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  font-weight: 100;
}

.infoServiciosContainer {
  grid-area: infoServicios;
  justify-self: center;
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 1rem;
  width: 25em;
  height: 15em;
}

.infoItem {
  width: max-content;
  align-self: center;
  font-size: 12pt;
  font-family: 700;
}

.portfolioContainer {
  width: 80%;
  margin: 80px auto;
  grid-area: listaVideos;
}

@media all and (max-width: 955px) {
  .portfolioContainer {
    width: 100%;
  }
}

.portfolioContainer .fila {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.portfolioContainer .columna {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: none;
  flex-basis: 74em;
  min-width: 250px;
}

@media all and (max-width: 955px) {
  .portfolioContainer .columna {
    align-items: center;
    justify-content: space-between;
  }
}

@media all and (max-width: 500px) {
  .portfolioContainer .columna {
    justify-content: space-around;
  }
}

.portfolioContainer .content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
  width: 30%;
  height: fit-content;
}

@media all and (max-width: 955px) {
  .portfolioContainer .content-container {
    width: 45%;
  }
}

@media all and (max-width: 600px) {
  .portfolioContainer .content-container {
    width: 75%;
  }
}

.portfolioContainer .content-container .tituloVideos, .portfolioContainer .content-container .subtituloVideos {
  font-weight: 400;
  font-size: 18pt;
  margin: 10px 10px;
  align-self: flex-start;
}

body.dark .portfolioContainer .content-container .tituloVideos, body.dark .portfolioContainer .content-container .subtituloVideos {
  color: white;
}

@media all and (max-width: 955px) {
  .portfolioContainer .content-container .tituloVideos, .portfolioContainer .content-container .subtituloVideos {
    align-self: center;
  }
}

.portfolioContainer .content-container .subtituloVideos {
  font-weight: 100;
  font-size: 16pt;
}

.portfolioContainer .small-img {
  position: relative;
  border-radius: 15px;
  width: 14rem;
}

.portfolioContainer .imagenPreview {
  width: 300px;
}

.play-btn, .video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  cursor: pointer;
}

@media all and (max-width: 955px) {
  .close-btn {
    width: 40px;
  }
}

.video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
  width: 60%;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 101;
}

@media all and (max-width: 955px) {
  .video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
    width: 94%;
  }
}

@media all and (max-height: 600px) {
  .video-player, .video-player2, .video-player3, .video-player4, .video-player5, .video-player6 {
    width: 70%;
    top: 255px;
  }
}

/* Pagina: Resultados*/
.masterContainerResultados {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0px 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 38rem 65rem 65rem 12rem max-content;
  grid-template-areas: "nav nav" "titulosResultados titulosResultados" "casoExito01 casoExito01" "casoExito02 casoExito02 " "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainerResultados {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerResultados {
    grid-template-areas: "nav" "titulosResultados" "casoExito01" "casoExito02 " "barraContacto" "footer";
  }
}

@media all and (min-width: 768px) {
  .masterContainerResultados {
    grid-template-rows: 7rem 38rem 75rem 55rem 12rem max-content;
  }
}

@media all and (min-width: 955px) {
  .masterContainerResultados {
    grid-template-rows: 7rem 38rem 55rem 55rem 12rem max-content;
  }
}

.masterContainerResultados .containerInterno05 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: titulosResultados;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .containerInterno05 {
    grid-template-columns: none;
  }
}

.masterContainerResultados .casoDeExitoContenedor01 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  grid-area: casoExito01;
  height: 65rem;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .casoDeExitoContenedor01 {
    grid-template-columns: none;
  }
}

@media all and (min-width: 768px) {
  .masterContainerResultados .casoDeExitoContenedor01 {
    height: 75rem;
  }
}

@media all and (max-height: 600px) {
  .masterContainerResultados .casoDeExitoContenedor01 {
    height: 68rem;
  }
}

.masterContainerResultados .casoDeExitoContenedor01 .textoCaso {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: center;
  align-items: center;
}

.masterContainerResultados .casoDeExitoContenedor01 .videoBienvenida {
  max-width: 500px;
}

@media all and (max-width: 600px) {
  .masterContainerResultados .casoDeExitoContenedor01 .videoBienvenida {
    width: 20rem;
    justify-self: center;
  }
}

.masterContainerResultados .casoDeExitoContenedor02 {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  grid-area: casoExito02;
}

@media all and (max-width: 955px) {
  .masterContainerResultados .casoDeExitoContenedor02 {
    grid-template-columns: none;
  }
}

.masterContainerResultados .casoDeExitoContenedor02 .videoBienvenida {
  max-width: 500px;
}

@media all and (max-width: 600px) {
  .masterContainerResultados .casoDeExitoContenedor02 .videoBienvenida {
    width: 20rem;
    justify-self: center;
  }
}

@media all and (max-width: 955px) {
  .masterContainerResultados .casoDeExitoContenedor02 #video--Resultados__02 {
    order: -1;
  }
}

.masterContainerResultados .casoDeExitoContenedor02 .textoCaso {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: center;
  align-items: center;
}

/* Pagina: Quienes somos*/
.masterContainerQuienesSomos {
  display: grid;
  grid-template-columns: 22rem max-content;
  grid-gap: 0px 0px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 60rem 12rem max-content;
  grid-template-areas: "nav nav" "quienesSomos quienesSomos" "barraContacto barraContacto" "footer footer";
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos {
    grid-template-rows: 7rem 80rem 12rem max-content;
  }
}

.masterContainerQuienesSomos .containerInterno06 {
  display: grid;
  grid-template-columns: inherit;
  grid-gap: 30px;
  align-content: center;
  justify-content: center;
  grid-area: quienesSomos;
  align-self: flex-start;
  margin: 5rem 0;
}

@media all and (max-width: 955px) {
  .masterContainerQuienesSomos .containerInterno06 {
    grid-template-columns: 22rem;
  }
}

.masterContainerQuienesSomos .containerInterno06 #imagenTeam {
  width: 100%;
}

.masterContainerQuienesSomos .containerInterno06 #imagenTeam .fotoTeam {
  width: 100%;
  border-radius: 20px;
}

/* Pagina: Contacto*/
.masterContainerContacto {
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
  grid-template-rows: 7rem 120rem;
  grid-template-areas: "nav" "formulario";
}

@media all and (max-width: 955px) {
  .masterContainerContacto {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 425px) {
  .masterContainerContacto {
    grid-template-rows: 7rem 133rem;
  }
}

.masterContainerContacto .formularioContainer {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-content: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.masterContainerContacto .formularioContainer .TituloContactoContainer {
  background-color: #ecc742;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 2rem 0rem;
  padding: 5rem 5rem;
}

.masterContainerContacto .formularioContainer .TituloContactoContainer .tituloContacto {
  margin: 2rem 0rem;
}

.masterContainerContacto .formularioContainer .TituloContactoContainer .parrafoContacto {
  font-weight: 100;
  font-size: 1rem;
  max-width: 540px;
  overflow-y: hidden;
}

.masterContainerContacto .formularioContainerInterno {
  background-color: #ebebeb;
  padding: 1rem 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 425px) {
  .masterContainerContacto .formularioContainerInterno {
    padding: 0rem 3rem;
  }
}

.masterContainerContacto .formularioContainerInterno .formulario {
  display: flex;
  flex-direction: column;
  margin: 5rem 0rem;
  width: 28rem;
}

@media all and (max-width: 955px) {
  .masterContainerContacto .formularioContainerInterno .formulario {
    width: 15rem;
  }
}

.masterContainerContacto .formularioContainerInterno .formulario #Item {
  width: 100%;
  margin: 0.5rem 0rem;
}

.masterContainerContacto .formularioContainerInterno .formulario #Item #labelStyle {
  font-weight: 400;
  font-size: 1rem;
}

.masterContainerContacto .formularioContainerInterno .formulario .error {
  color: red;
}

.masterContainerContacto .formularioContainerInterno .success {
  color: green;
}

.masterContainerContacto .formularioContainerInterno .radiosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerContainerContacto {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20%;
}

@media all and (min-width: 768px) {
  .footerContainerContacto {
    height: 15%;
  }
}

@media all and (max-height: 680px) {
  .footerContainerContacto {
    display: none;
  }
}

.footerContainerContacto .ContainerFooterContacto {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

@media all and (max-width: 955px) {
  .footerContainerContacto .ContainerFooterContacto {
    width: 20rem;
  }
}

.footerContainerContacto .ContainerFooterContacto .tituloFooterContacto {
  font-weight: 700;
  font-size: 14pt;
  margin: 5px 0;
}

.footerContainerContacto .ContainerFooterContacto .parrafoFooterContacto {
  font-weight: 100;
}

@media all and (max-width: 955px) {
  .footerContainerContacto .ContainerFooterContacto .parrafoFooterContacto {
    font-size: 11pt;
    max-width: 20rem;
  }
}

/* Estilos generales*/
.titulo {
  font-weight: 400;
  font-size: 24pt;
  animation: up-to-down 0.8s ease-out;
  overflow-y: hidden;
}

body.dark .titulo {
  color: white;
}

@media all and (max-width: 955px) {
  .titulo {
    text-align: center;
    max-width: 22rem;
    font-size: 18pt;
  }
}

@keyframes up-to-down {
  0% {
    transform: translateY(-30%);
    color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateY(0%);
    color: black;
  }
}

.textoBienvenida {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0px 15px 0px 60px;
  max-width: 30rem;
}

@media all and (max-width: 955px) {
  .textoBienvenida {
    margin: 0px 0px 0px 0px;
    max-width: 28rem;
    align-items: center;
  }
}

ul {
  display: inline-block;
  margin-left: 0px;
}

li {
  display: inline-block;
  padding: 1rem;
}

video {
  border-radius: 20px;
}

.parrafo {
  font-weight: 100;
  font-size: 1rem;
  max-width: 386px;
  overflow-y: hidden;
}

body.dark .parrafo {
  color: white;
}

.illustracion {
  width: 28rem;
}

@media all and (max-width: 600px) {
  .illustracion {
    width: 22rem;
  }
}

.illustracionContenedor {
  align-self: center;
  justify-self: center;
}
