@mixin containerPrincipal($colums, $gap, $media-columnas: 1fr) {
  display: grid;
  grid: {
    template-columns: $colums;
    gap: $gap;
  }
  align-content: center;
  justify-content: center;

  @media all and (max-width: 955px) {
    grid-template-columns: $media-columnas;
  }
}

@mixin flex($direction, $corte, $just, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $corte;
  justify-content: $just;
  align-content: $align;
}

@mixin enlace-Boton($colorBG, $colorTexto, $borde, $padding, $ancho) {
  background-color: $colorBG;
  color: $colorTexto;
  border-radius: $borde;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: $ancho;
  font-weight: map-get($fuentes, parrafo);
}
